.aside {
    width: 20rem;
    background-color: $color-gray;
    @include flex(column, space-between, center);

    @include responsive( 900 ) {
        max-width: 100%;
        width: 100%;
    }
    

    &__links {
        @include flex(column, space-evenly, flex-start);
        margin-top: 3.5rem;
        width: 100%;

        @include responsive( 900 ) {
            display: flex;
            flex-direction: row;
            margin: 0;
            justify-content: center;
        }

    }

    &__item {
        @include flex(row, flex-start, center);
        width: 100%;
        height: 5rem;
        position: relative;

        @include responsive( 900 ) {
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        &:first-child {
            background-color: $color-primary;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: 5px;
            background-color: $color-primary;
            // transform-origin: center or botoom or top

            //animation
            transform: scaleY(0);
            transition: transform .2s,
                        width .4s cubic-bezier( 1, 0, 0, 1 ) .2s;
            z-index: 1;
        }

        //animation
        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: $color-primary-light;
        }

        & > a {
            width: 100%;
            padding-left: 3rem; 
            @include flex(row, flex-start, center);
            gap: 2rem;
            color: white;
            text-decoration: none;
            font-size: $default-font;
            
            @include responsive( 900 ) {
                height: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
            }
        }

        &:not(:last-child) {
            margin-bottom: .5rem;

            @include responsive( 900 ) {
                margin: 0;
            }
        }
    }

    &__link {
        position: relative;
        z-index: 2;
    }

    &__img {
        width: 2rem;
    }

    &__span {
        text-transform: uppercase;
    }

    &__copyright {
        color: white;
        padding: 2rem 4rem;
        text-align: center;

        @include responsive( 900 ) {
            display: none;
        }
    }

}