
.footer {
    background-color: white;
    grid-column: 1/3;
    border-top: 4px solid #ccd1d8;;
}

footer {
    padding: 36px;
    text-align: center;
    font-size: 25px;
  }

  footer a {
    text-decoration: none;
    color: black;
  }

  footer img {
    width: 25px;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 5px;
  }

  footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
  }
