.header {
    height: 8rem;
    width: 100%;
    background-color: lightblue;
    padding: 1rem 2.5rem;
    @include flex(row, space-between, center);

    &__logo {
        height: 100%;
        @include flex(row, center, center);


        & img {
            height: 80%;
        }
    }   
    
    &__input {
        width: 40rem;
        height: 4rem;
        padding: .5 1rem;
        @include flex(row, center, center);
    }

    &__links {
        @include flex(row, space-between, center);
        gap: 3rem;
        
    }
}