.header {
    height: 8rem;
    width: 100%;
    padding: 0 0 0 2rem;
    background-color: $color-body-1;
    @include flex(row, space-between, center);

    &__logo {
        height: 70%;
        @include flex(row, center, center);

        & img {
            height: 80%;
        }
    }   
    
    &__input {
        width: auto;
        height: 4rem;
        padding: .5 1rem;
        @include flex(row, center, center);

        @include responsive( 600 ) {
            width: 80%;
        }
    }

    &__user-nav {
        height: 100%;
        @include flex(row, space-between, center);

        &-icon {
            height: 100%;
            @include flex(row, center, center);
            padding: 0 2rem;
            position: relative;

            &:hover {
                background-color: $color-gray-light;
                cursor: pointer;
            }
        }

        &-notif {
            background-color: $color-primary;
            color: white;
            padding: .2rem;
            border-radius: 50%;
            position: absolute;
            top: 25%;
            right: 25%;
        }
        
        &-profile {
            height: 100%;
            @include flex(row, center, center);


            &:hover {
                background-color: $color-gray-light;
            }

            @include responsive( 600 ) {
                display: none;
            }
        }

        &-profile > a {
            text-decoration: none;
            color: $color-gray;
            @include flex(row, center, center);
            padding: 0 2rem;
            text-transform: uppercase;
            font-weight: 900;
        }
    }
}