.main {
    background-color: lightgreen;
    height: auto;
    display: flex;
    
    
    &__content {
        width: 90rem;
        display: flex;
        flex-direction: column;
    }

    &__picture {
        display: flex;
        width: 100%;
        height: 20rem;
    }

    &__header {
        width: 100%;
        height: 8rem;
        background-color: lightblue;
        display: flex;
        align-items: center;
        
        &-heading {
            padding: 1.5rem 3rem;
            text-transform: uppercase;
            font-size: 2rem;
        }

        &-review {
            padding: 1.5rem 0;
            width: 45%;
            @include flex(row, flex-start, center);
        }

        &-location {
            @include flex(row, center, center);
            gap: 1rem;

            & a {
                color: $color-primary;
                font-weight: 700;
                text-decoration: none;
                border-bottom: 1px solid $color-primary;
            }
        }

        &-rating {

        }
    }

    &__body {

    }

    &__footer {

    }
}

