.main {
    background-color: $color-body-2;
    height: auto;
    display: flex;

    @include responsive( 900 ) {
        display: flex;
        flex-direction: column;
    }
    
    
    &__content {
        width: 90rem;
        display: flex;
        flex-direction: column;

        @include responsive( 1000 ) {
            max-width: 100%;
            width: 100%;
        }
    }

    &__picture {
        display: flex;
        width: 100%;
        height: 20rem;
    }

    &__header {
        width: 100%;
        height: 8rem;
        background-color: $color-body-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d9d9d9;
        
        &-heading {
            padding: 1.5rem 3rem;
            text-transform: uppercase;
            font-size: 2rem;
        }

        &-review {
            padding: 1.5rem 0;
            width: 40%;
            @include flex(row, flex-start, center);
        }

        &-location {
            @include flex(row, center, center);
            gap: 1rem;
            margin-right: 3rem;

            & a {
                color: $color-primary;
                font-weight: 700;
                text-decoration: none;
                border-bottom: 1px solid $color-primary;
                transition: all .5s;

                &:hover {
                    color: black;
                    border-bottom: 1px solid black;
                }
            }

        }

        &-rating {
            background-color: $color-primary;
            height: 100%;
            width: 10rem;
            @include flex(column, center, center);

            &-result {
                color: white;
                font-size: 2rem;
            }

            &-votes {
                color: white;
                text-transform: uppercase;
            }
        }
    }

    &__body {
        @include flex(row, center, center);
        padding: 4rem;
        gap: 3rem;

        &-user-reviews {
            background-color: $color-body-2;
            height: 100%;
            @include flex(column, space-between, center);
            gap: 3rem;
        }
    }

    &__footer {
        padding: 4rem 0;
        background-color: $color-body-1;
        @include flex(column, center, center);

        & h2 {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 100;
        }
    }
}

