*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #3d3d3d;
  background-image: linear-gradient(135deg, #2dd7f5, #28c9d5);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-tiny {
  margin-bottom: 1rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn-review,
.btn-review:visited {
  color: #26a5bc;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #26a5bc;
  transition: all .3s; }
  .btn-review:hover,
  .btn-review:visited:hover {
    color: black;
    border-bottom: 1px solid black; }
  .btn-review span,
  .btn-review:visited span {
    transition: all .3s; }
  .btn-review:hover span,
  .btn-review:visited:hover span {
    margin-left: 1rem; }

.details {
  background-color: #fff;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .details__paragraph {
    color: #3d3d3d;
    font-style: inherit;
    color: #777;
    font-size: 1.2rem; }
    .details__paragraph--recommend {
      font-size: 1.3rem;
      color: #999; }
  .details__list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;
    display: flex;
    flex-wrap: wrap; }
  .details__item {
    flex: 0 0 50%;
    color: #777;
    font-size: 1.2rem; }
    .details__item:not(:last-child) {
      margin-bottom: 1rem; }
    .details__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .5rem;
      background-color: #26a5bc;
      -webkit-mask-image: url(/icon/icons8-chevron-right-16.png);
      -webkit-mask-size: cover;
      mask-image: url(/icon/icons8-chevron-right-16.png);
      mask-size: cover; }
  .details__recommend {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .details__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white; }
    .details__photo:not(:last-child) {
      margin-right: -1.5rem; }

.gallery {
  display: flex; }
  .gallery__item {
    height: 20rem; }
  .gallery__photo {
    width: 100%;
    height: 100%;
    display: block; }

.review {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }
  .review__text {
    font-size: 1.2rem; }
  .review__user {
    display: flex;
    align-items: center;
    width: 100%; }
  .review__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    justify-items: flex-start;
    margin-right: 2rem; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.2rem;
    color: #3d3d3d; }
  .review__user-date {
    color: #777; }
  .review__rating {
    font-size: 2rem;
    color: #26a5bc;
    justify-self: end; }

.searchbar {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 20px;
  position: relative; }
  .searchbar:target {
    background-color: red; }
  .searchbar__input {
    border: none;
    width: 40rem;
    background-color: #f4f2f2;
    padding: 1rem 2rem;
    border-radius: 25px;
    transition: all .2s; }
    .searchbar__input::placeholder {
      color: #949494; }
    .searchbar__input:focus {
      outline: none;
      width: 50rem;
      background-color: #f1f1f1; }
  .searchbar__label {
    width: 4rem;
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translate(0, 50%); }
  .searchbar__img {
    width: 60%; }

.aside {
  width: 20rem;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .aside__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 3.5rem;
    width: 100%; }
  .aside__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: relative; }
    .aside__item:first-child {
      background-color: #26a5bc; }
    .aside__item::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: #26a5bc;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
      z-index: 1; }
    .aside__item:hover::before, .aside__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .aside__item:active::before {
      background-color: #2dd7f5; }
    .aside__item > a {
      width: 100%;
      padding-left: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      color: white;
      text-decoration: none;
      font-size: 1.6rem; }
    .aside__item:not(:last-child) {
      margin-bottom: .5rem; }
  .aside__link {
    position: relative;
    z-index: 2; }
  .aside__img {
    width: 2rem; }
  .aside__span {
    text-transform: uppercase; }
  .aside__copyright {
    color: white;
    padding: 2rem 4rem;
    text-align: center; }

.header {
  height: 8rem;
  width: 100%;
  padding: 0 0 0 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .header__logo img {
      height: 80%; }
  .header__input {
    width: auto;
    height: 4rem;
    padding: .5 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .header__user-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .header__user-nav-icon {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 2rem;
      position: relative; }
      .header__user-nav-icon:hover {
        background-color: #f1f1f1;
        cursor: pointer; }
    .header__user-nav-notif {
      background-color: #26a5bc;
      color: white;
      padding: .2rem;
      border-radius: 50%;
      position: absolute;
      top: 25%;
      right: 25%; }
    .header__user-nav-profile {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .header__user-nav-profile:hover {
        background-color: #f1f1f1; }
    .header__user-nav-profile > a {
      text-decoration: none;
      color: #3d3d3d;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 2rem;
      text-transform: uppercase;
      font-weight: 900; }

.main {
  background-color: #f8f8f8;
  height: auto;
  display: flex; }
  .main__content {
    width: 90rem;
    display: flex;
    flex-direction: column; }
  .main__picture {
    display: flex;
    width: 100%;
    height: 20rem; }
  .main__header {
    width: 100%;
    height: 8rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9; }
    .main__header-heading {
      padding: 1.5rem 3rem;
      text-transform: uppercase;
      font-size: 2rem; }
    .main__header-review {
      padding: 1.5rem 0;
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    .main__header-location {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-right: 3rem; }
      .main__header-location a {
        color: #26a5bc;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 1px solid #26a5bc;
        transition: all .5s; }
        .main__header-location a:hover {
          color: black;
          border-bottom: 1px solid black; }
    .main__header-rating {
      background-color: #26a5bc;
      height: 100%;
      width: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main__header-rating-result {
        color: white;
        font-size: 2rem; }
      .main__header-rating-votes {
        color: white;
        text-transform: uppercase; }
  .main__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 3rem; }
    .main__body-user-reviews {
      background-color: #f8f8f8;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 3rem; }

.container {
  max-width: 110rem;
  min-height: 50rem;
  margin: 10rem auto;
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; }
