@mixin flex($flex-drection, $justify, $align) {
    display: flex;
    flex-direction: $flex-drection;
    justify-content: $justify;
    align-items: $align;
}

// media queries 
// 10/16 * breakpoint / 10 px
// or breakpoint / 16

@mixin responsive( $breakpoint ) {
    @if $breakpoint == 1100 {
        @media ( max-width: 68.75em ) { @content }; 
    }
    @if $breakpoint == 1000 {
        @media ( max-width: 62.5em ) { @content };
    }
    @if $breakpoint == 900 {
        @media ( max-width: 56.25em ) { @content };
    }
    @if $breakpoint == 600 {
        @media ( max-width: 37.5em ) { @content };
    }

    
    @if $breakpoint == 700 {
        @media ( min-width: 43.75em ) { @content };
    }
}
