// main color
$color-primary: #26a5bc;
$color-primary-light: #2dd7f5;
$color-primary-dark: #28c9d5;

$color-nav: #2d2d2d;

$color-gray: #3d3d3d;
$color-gray-light: #f1f1f1;
$color-gray-light-2: #dfdfdf;
$color-gray-dark-1: #999;
$color-gray-dark-2: #777;

$color-body-1: #fff;
$color-body-2: #f8f8f8;

// font
$default-font: 1.6rem;