.searchbar {
    width: auto;
    @include flex(row, space-between, center);
    padding: .5rem 1rem;
    border-radius: 20px;
    position: relative;

    &:target {
        background-color: red;
    }

    &__input {
        border: none;
        width: 40rem;
        background-color: #f4f2f2;
        padding: 1rem 2rem;
        border-radius: 25px;
        transition: all .2s;

        &::placeholder {
            color: #949494;
        }

        &:focus {
            outline: none;
            width: 50rem;
            background-color: #f1f1f1;
        }
    }



    &__label {
        width: 4rem;
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translate(0, 50%);
    }

    &__img {
        width: 60%;
    }

}
