.container {
    max-width: 110rem;
    min-height: 50rem;  
    margin: 10rem auto;
    background-color: $color-body-1;
    box-shadow: 0 2rem 6rem rgba($color: #000000, $alpha: .3);

    // flex
    display: flex;
    flex-direction: column;

    @include responsive( 1100 ) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

